<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>2-3-데이터 전송-slot배포</title>
  <!--<link rel="stylesheet" href="./lesson.css">-->
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>

<body>

  <div id="lesson1">
    <lesson-content>
      <!--명명 된 slot 슬롯-->
      <h3 slot="header">vue예제：slot배포</h3>
      <div slot="lastName">
      <input v-model="newName" placeholder="추가할 이름">
      <input v-model="newBirth" placeholder="태어난 년도">
      <table-add v-bind:add-name="newName" v-bind:add-birth="newBirth" v-on:table-add="peopleAdd"></table-add>
      <table border="1">
        <thead>
          <tr is="table-item" text="이름" another-text="생년월"></tr>
        </thead>
        <!--tbody 에 자동으로 추가됨 中-->
        <tr v-for="person in people" is="table-item" v-bind:text="person.name" v-bind:another-text="person.birth"></tr>
      </table>
      <table-del v-on:table-delete="peopleDel">
        <!--익명 slot 슬롯-->
        <span>-{{lastName}}</span>
      </table-del>
    </div>
      <!--<table-del v-on:click.native="peopleDel"></table-del>-->

    </lesson-content>
  </div>

  <script src="./2-3-vue.js"></script>
</body>

</html>